.photo-col2 {
  display: flex;

  & figure {
    margin: 5px;
    width: calc(100% / 2);
  }
}

.photo-col3 {
  display: flex;

  & figure {
    margin: 5px;
    width: calc(100% / 3);
  }
}

.frame {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}

.frame43 {
  aspect-ratio: 4/3;
}

.frame169 {
  aspect-ratio: 16/9;
}
