.photo-col3 {
  display: flex;

  & figure {
    margin: 5px;
    width: calc(100% / 3);
    & .frame {
      overflow: hidden;
      aspect-ratio: 16/9;
      width: 100%;
      position: relative;
    }
    & img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
      text-align: center;
    }
  }
}
